html {
  //colors
  --bg_400: #222222;
  --bg_350: #313131;
  --bg_300: #3f3f3f;
  --txt: #f4f4f4;

  --red: #f25c54;
  --blue: #59a5d8;
  --green: #95d5b2;
  --yellow: #ffd500;
  //font sizes
  --fs-sm: 0.8rem;
  --fs-md: 1.25rem;
  --fs-lg: 1.85rem;
  --fs-xl: 2.25rem;
  //random shit
  --border-radius: 4px;
}
