@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
body {
  background: var(--bg_400);
  color: var(--txt);
  font-family: "Poppins", sans-serif;
}
