@use 'variables';
@use 'base';
.intro {
  &__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &__heading {
    font-size: var(--fs-lg);
  }
}
.how-to-play {
  &__wrapper {
    min-width: min(500px, 80%);
    padding: 2.5rem 1.25rem 1.25rem;
    border: 2px solid var(--bg_300);
    border-radius: var(--border-radius);
    position: relative;
    margin: 2rem 0;
  }
  &__heading {
    font-size: var(--fs-sm);
    font-weight: 700;
    text-align: center;
    margin-top: 0;
    position: absolute;
    border-radius: var(--border-radius);
    padding: 0.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    background: var(--bg_350);
    width: auto;
    left: 50%;
    transform: translateX(-50%) translateY(calc(-2.5rem - 50%));
    > i {
      position: absolute;
      top: -75%;
      left: 50%;
      font-size: var(--fs-md);
    }
  }
  &__controls-wrapper {
    --gap-between-items: 1rem;
    display: flex;
    flex-wrap: wrap;
    &__item {
      padding: 0.75rem;
      display: flex;
      flex-direction: column;
      border-radius: var(--border-radius);
      background: var(--bg_350);
      width: calc(50% - var(--gap-between-items) / 2);
      &:nth-child(2),
      &:nth-child(4) {
        margin-left: var(--gap-between-items);
      }
      &:nth-child(2) ~ & {
        margin-top: var(--gap-between-items);
      }
      &__icon {
        text-align: center;
        font-size: 64px;
      }
      &__description {
        flex: 1;
        display: flex;
        text-align: center;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        max-width: 75%;
        margin: 0 auto;
      }
    }
    .control-up,
    .control-left,
    .control-down,
    .control-right {
      font-weight: 700;
    }
  }
}
//styles to put colors on text
.clr {
  &-red {
    color: var(--red);
  }
  &-blue {
    color: var(--blue);
  }
  &-green {
    color: var(--green);
  }
  &-yellow {
    color: var(--yellow);
  }
  &-red,
  &-blue,
  &-green,
  &-yellow {
    font-weight: 700;
  }
}
